.container{
	width: 100%;
	margin: 0 auto;
	min-width: 400px;
	max-width: 720px;
	background: #fff;
	/*height: 10000px;*/
}
/*头部的微信询问部分*/
.ls_holle{
	width: 100%;
	height:92px;
	background: #fff;
	
}
.ls_holle>a>img{
	width: 100%;
	position: fixed;
	min-width: 400px;
	max-width: 720px;
	top: 0px;
	z-index: 5;
	/*left: 0px;*/
}
.ls_logo{
	background: #222222;
	display: flex;
	/*height:5%;*/
	height: 100px;
	line-height: 100px;
	text-align: center;
}
.ls_logo>a:nth-child(1){
	/*background: red;*/
	flex: 1;
	color: #fff;
	font-size: 40px;
	text-align: center;
}
.ls_logo>a:nth-child(1):hover{
	background: #666666;
}
.ls_logo>a:nth-child(2){
	/*background: greenyellow;*/
	flex: 6;
}
.ls_logo>a:nth-child(3){
	/*background: red;*/
	flex: 1;
}
/*导航条*/
.ls_nav{
	display: flex;
	margin-top: 38px;
	border-top: 1px solid #fafafa;
}
.ls_nav>li{
	/*display: block;*/
	height: 76px;
	flex: 1;
	/*background: red;*/
}
.ls_nav>li>a{
	text-align: center;
	display: block;
	height: 76px;
	line-height: 76px;
	color: #212121;
	/*background: pink;*/
	font-size: 30px;
}
.ls_nav>li>a:hover,.ls_nav>li.actives>a{
	color: #fff;
	background: #cbab72;
}
/*banner部分*/
.ls_banner img{
	width: 100%;
}
/*不从众，方可出众*/
.superior{
	text-align: center;
	/*background: pink;*/
	padding-top: 78px;
	padding-bottom: 70px;
}
.superior>p{
	width: 80%;
	/*background: red;*/
	font-size: 20px;
	margin: 20px auto;	
}
.new_active{
	display: flex;
	text-align: center;
	
}
.new_active>a{
	flex: 1;
	color: #fff;
	background: #cbab72;
}
.new_active>a>p:nth-child(2){
	font-size: 45px;
	font-family: "方正姚体";
	letter-spacing: -8px;
}
.new_active>a>p:nth-child(3){
	font-size: 10px;
	font-family: "方正姚体";
	padding-top: 10px;
	padding-bottom: 28px;
}
.new_active>a>.ls_icon{
	width: 63px;
	height: 63px;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 63px;
	margin: 0 auto;
	margin-top: 24px;	
}
.new_active>a>.ls_icon>span{
	font-size: 37px;
}
/*原创风格*/

.original_style>img{
	width: 100%;
	margin-top: 67px;
	margin-bottom: 25px;
}
.original_style>.styleBox{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.original_style>.styleBox>li{
	width: 46.5%;
	/*background: paleturquoise;*/
	margin-bottom: 34px;
}
.original_style>.styleBox>li:nth-child(1),.original_style>.styleBox>li:nth-child(3){
	margin-left: 2.8%;
	margin-right: 1%;
}
.original_style>.styleBox>li:nth-child(2),.original_style>.styleBox>li:nth-child(4){
	margin-left: 0;
	margin-right: 2.8%;
}
.styleBox{
	text-align: center;
}
.styleBox>li>a>div{
	font-size:35px;
	color: #444;
	font-weight: bold;
	padding: 15px 0;
}
.styleBox a:hover>div{
	color: #cbab72;
}
/*查看更多*/
.look_more{	
	height: 70px;
	line-height: 70px;
	background: #fff;
	box-sizing: border-box;
	margin: 0px 2.8%;
	border: 1px solid #CBAB72;
	text-align: center;
	font-size: 26px;
}
.look_more>a{
	display: block;
	color: #CBAB72;
}
.look_more>a:hover{
	background: #CBAB72;
	color: #fff;
}
/*全球旅拍*/
.global_travel{
	text-align: center;
}
.global_travel img{
	width: 100%;
}
.global_travel img#travel_icon{
	width: 46.5%;
	/*margin: 0 auto;*/
}
.styleImg{
	margin-top: 70px;
	margin-bottom: 30px;
}
.global_lunbo{
	margin-bottom: 30px;
}
/*客片欣赏*/
.guest{
	margin-bottom: 70px;
}
/*报价部分*/
.offerBox{
	height: 800px;
	background: #edf0f8;
	padding: 0px 40px;
	box-sizing: border-box;
	overflow-y: scroll;
}
.maiKe{
	text-align: center;
	color: #76787c;
	margin-top: 20px;
	margin-bottom: 25px;
}
.offer_kuang{
	/*height: 300px;*/
	width: 100%;	
	background: #fff;
	display:block;
	
}
/*头部*/
.offer_header{
	padding: 19px 0px;
	text-align: center;
	height: auto;
	min-height: 64px;
	background-color: #3b67a0;
	background-image: url(../img/baojia.jpg);   
    background-position:  50%;
    background-repeat: no-repeat;
    background-size: 100%;  	
}
.offer_header>p{
	font-size: 27px;
	padding-bottom: 15px;
}
.offer_header>span{
	
	color: #d55130;
	font-size: 20px;
}
/*选择你喜欢的类型*/
.choose_you_like{
	padding-bottom: 20px;
}
.choose_you_like>img{
	width: 100%;
}
.choose_style{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.choose_style:hover{
	background: #f8f8f9;
}
.choose_style>label{
	text-align: center;
	padding: 2px;
	box-sizing: border-box;
	width: 46%;
	background: #fff;
	border: 1px solid #d5d5d5;
	margin-bottom: 6px;
	padding-bottom: 10px;
	cursor: pointer;
	font-size: 16px;
}
.choose_style>label>li>img{
	width: 100%;
	margin-bottom: 10px;
}
.choose_style>label>li{
	position: relative;
}
.choose_style>label>li>p{
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	right: 0px;
}
.choose_style>label>li>p:hover>span{
	color: #848484;
}
.choose_style>label>li>p>span{
	color: #d3cfd0;
	font-size: 24px;	
}
/*保持登录*/
.choose_style>label>li>input[type="checkbox"]{
display: inline-block;  
vertical-align: middle;  
margin-left: 5px;
-webkit-appearance: none;  
border: 0;  
outline: 0 !important;  
line-height: 20px;  
color: #d8d8d8;
}
.choose_style>label>li>input[type=checkbox]:after  {  
content: "";  
display:block;  
width: 18px;  
height: 18px;  
text-align: center;   
font-size: 20px;
border: 1px solid #c5c5c6;     
background-color: #fff;  
box-sizing:border-box;  
}
.choose_style>label>li>input[type=checkbox]:hover:after{
	border: 1px solid #2d8fd9;
}
.choose_style>label>li>input[type=checkbox]:checked:after  {  
background-image:url(../img/gou.png);
background-position: 50%;
border: 1px solid #2d8fd9; 
}
/*保持登录结束*/
.promise{
	text-align: center;
}
.promise>img{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 25px;
}
.promise>p{
	color: #2c3e50;
	font-size: 16px;
}
/****************************/
.get_quotes{	
	/*background: pink;*/
}
.get_quotes>li{
	position: relative;
	padding: 18px 30px;
	box-sizing: border-box;
}
.get_quotes>li>p{
	font-size: 20px;
	padding-bottom: 10px;
}
.get_quotes>li:hover{
	background-color: #f8f8f9;	
}
.quotes_money{
	display: flex;
}
.quotes_money>li{	
	/*text-align: center;*/
	flex: 1;
	/*width: 100%;*/
	white-space:nowrap;
}
/*radio按钮的样式*/
.quotes_money>li>input[type="radio"]{
display: inline-block;  
vertical-align: middle;  
margin-left: 5px;
-webkit-appearance: none;  
border: 0;  
outline: 0 !important;  
line-height: 20px;  
color: #d8d8d8;
}
.quotes_money>li>input[type='radio']:after  {  
content: "";  
display:block;  
width: 18px;  
height: 18px;  
text-align: center;   
font-size: 20px;
border: 1px solid #c5c5c6;     
background-color: #fff;  
box-sizing:border-box;  
border-radius: 50%;
}
.quotes_money>li>input[type='radio']:hover:after{
	border: 1px solid #2d8fd9;
}
.quotes_money>li>input[type='radio']:checked:after  {  
background-image:url(../img/yuan.png);
background-repeat: no-repeat;
background-position: 50%;
border: 1px solid #2d8fd9; 
}
/*************************/
.get_quotes>li>input[type="text"]{
	width: 72%;
	height: 38px;
	border: 1px solid #d3d3d3;
	box-sizing: border-box;
	padding-left: 40px;
	margin-left: 20px;
}
.get_quotes>li>input[type="text"]:focus{
	border: 1px solid #2d8fd9;
}
.get_quotes>li>input[type="text"]#weixin{
	width: 88%;
}
.get_quotes>li>span.yonghu{
	position: absolute;
    bottom: 21px;
    left: 56px;
    font-size: 26px;
    color: #81bce8;
}
.get_quotes>li>div{
	margin-bottom: 10px;
}
#submit_baojia{
	display: block;
	width: 96px;
	height: 30px;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 20px;
	background: #3B67A0;
}
#submit_baojia:hover{
	background: #4e76a9;
}
.footer>img{
	width: 100%;
}
.footer{
	text-align: center;
	background: #222222;
	padding-bottom: 200px;
}
.footer>.talle{
	background: #CBAB72;
	padding-top: 22px;
	padding-bottom: 18px;
}
.footer>.talle>img{
	width: 80%;
}
.footer>.talle>p{
	color: #fff;
	font-size: 22px;
}
.footer>p,.footer>span,.footer>p>a{
	color: #ccc;
}
.footer>p{
	font-size: 1.3vw;
	margin-top: 30px;
}
.footer>p>a:hover{
	color: #CBAB72;
}
